.chiudi{position:absolute; right:-17.5px; top:-17.5px;  cursor:pointer;}
.button_next{position:absolute; right:-34px; top:135px;  cursor:pointer;}
.button_prev{position:absolute; left:-34px; top:142.5px;  cursor:pointer;}
.overlay{
    background:rgb(80, 80, 80); /*colore background all' esterno dell' overlay*/
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
	cursor:pointer;
/*Trasperenza cross browser*/
opacity: .9; filter: alpha(opacity=70); 
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";	
	
}

#box{ width:800px; height:550px; background-color:#EAE8E9; padding:10px 10px 10px 10px; display:none; z-index:+300; position:fixed; -moz-border-radius: 15px;  -webkit-border-radius: 15px;
border-radius: 15px;text-align: center;color:white;}

/*css sul bordino sotto*/
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC;
    border-right: 0 solid #CCCCCC;
    border-style: solid;
    border-width: 1px 0 0; 
	width:60%}