PlayReminiscens/logs
PlayReminiscens/project/project
PlayReminiscens/project/target
PlayReminiscens/target
PlayReminiscens/tmp
PlayReminiscens/dist
PlayReminiscens/.cache
*DS_Store
*._.DS_Store
*._*
*.apk
*.class
*.DS_Store
*.target/
.DS_Store
.DS_Store
ui/marzemino/android/.DS_Store
*.DS_Store

ui/marzemino/android/First/.DS_Store
