<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://test.lifeparticipation.org:3306/reminiscens</property>
        <property name="hibernate.connection.username">reminiscens</property>
        <property name="hibernate.connection.password">timeline@lp2012</property>
    <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
    <!-- Mappings -->
        <mapping resource="com/reminiscens/imagewrapper/Media.hbm.xml"/>
        <mapping resource="com/reminiscens/fromdbpedia/Person.hbm.xml"/>
        <mapping resource="com/reminiscens/fromdbpedia/Event.hbm.xml"/>
        <mapping resource="com/reminiscens/fromdbpedia/Location.hbm.xml"/>
        <mapping resource="com/reminiscens/fromdbpedia/Time_Interval.hbm.xml"/>
        <mapping resource="com/reminiscens/fromdbpedia/Fuzzy_Date.hbm.xml"/>
        <mapping resource="com/reminiscens/fromdbpedia/City.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
