<div class="footer">
    <p class="bot">
        &#174 2012 
        <a href="www.lifeparticipation.org">Lifeparticipation</a>             
        University of Trento. 
        Trento, Italy
    </p>
</div>