<div class="row">
    <div class="span6">
        <h2>Give Reminiscens <small>BETA</small> a try</h2>
        <br>
        <p class="buttons">
            <a class="btn-large btn-primary" href="#/start">
                Start Reminiscens now!
            </a>
        </p>
    </div>
    <div class="span6">
        <h2>Or check some examples..</h2>
        <br>
        <p class="buttons">
                    <a class="btn-large btn-primary" href="fantozzi.html">
                        Example 1: Ugo Fantozzi
                    </a>
                </p> 
        <br>
        <p class="buttons">
                    <a class="btn-large btn-primary" href="kessler.html">
                        Example 2: Bruno Kesller
                    </a>
                </p> 
                <br>
        <p class="buttons">    
                    <a class="btn-large btn-primary" href="ygnacio.html">
                        Example 3: Ygnacio Parra
                    </a>
                </p>
    </div>        
</div>