<div class="navbar navbar-fixed-top-center">
    <div class="navbar-inner">
        <div class="row">
            <div class="span2">
                <a href="/"> 
                    <img class="logosmall" 
                        src="resources/img/reminiscens-favicon-text-soft.png">
                </a>
            </div>
                
            <div class="span7">
                <p>
                    <h3>Start your Timeline by Telling a bit about yourself</h3>
                </p>
            </div>
                
            <div class="span2">
                <p class="nav pull-right">
                    <h3 class="brand">
                        <a href="http://www.lifeparticipation.org">About</a>
                    </h3>
                </p>
            </div>
        </div>
    </div>
</div>