body {
	background-repeat: repeat;
    background-image: url(../../images/layout/pattern.jpg);
}
div, p {
font-family: Verdana, Arial, sans-serif;
}

p.content {
font-size: 12px;
width: 30em;
}

div#timemap {
padding: 1em;
}

div#timelinecontainer{
width: 100%;
height: 180px;
}

div#timeline{
 width: 100%;
 height: 100%;
 font-size: 12px;
 background: #CCCCCC;
}

div#mapcontainer {
 width: 100%;
 height: 400px;
}

div#map {
 width: 100%;
 height: 100%;
 background: #EEEEEE;
}

#map img {
 max-width: none;
}

div.split_sx {
    float: left; /*necessario per l' allineamento dei div in orizzontale*/
	width: 58%;
	overflow: auto;
	height: 450px;
}

div.split_dx {
	float: left; /*necessario per l' allineamento dei div in orizzontale*/
	width: 40%;
	overflow: auto; /*imposta scrolling*/
	height: 450px;
}


