@charset "utf-8";
/* CSS Document */

body {
	background-repeat: repeat;
    background-image: url(../img/pattern.png);
}

/* h1 {
	color: white;
	font-size: 60px;
	font-weight:100;
	font-family: 'Dosis-Regular', cursive;
	
}*/

h1 {
	color: white;
	font-size: 24px;
	font-weight:700;
	font-family: 'Dosis';		
}

h2 {
	color: white;
	font-size: 20px;
	font-weight:400;
	font-family: 'Dosis';
}

h3 {
	color: white;
	font-size: 18px;
	font-weight:400;
	font-family: 'Dosis';	
}

h5 {
	color: white;
	font-size: 12px;
	font-weight:100;
	font-family: 'Dosis-Regular';
}


p {	
    color: white;	
    font-size: 12px;
	margin : 10px;
}

.reDescriptionRight {
	text-align:right;
}

.reDescriptionLeft {
	text-align:left;
}

.span6#socialRight {
	text-align:left;
}

.span6#socialLeft {
	text-align:right;
}

.container {
	margin-top: 0px;
	text-align:center;
	padding: 5px;
}

.container#reHeader {
	margin-top: 0px;
	text-align:center;
	padding: 5px;
}


.btn {
	font-size: 20px;
	margin-right: 10px;
	padding: 12px 55px;
}

.bot {
	color : white;
}

img.logo {
    max-width : 70%;
}

img.logosmall {
    max-width : 50%;
}