@charset "utf-8";
/* CSS Document */

body {
	background-repeat: repeat;
    background-image: url(../img/pattern.png);
}

h1 {
	color: white;
	font-size: 60px;
	font-weight:100;
	font-family: 'FertigoPro-Regular', cursive;
	
}

h2 {
	color: white;
	font-size: 24px;
	font-weight:100;
	font-family: 'FertigoPro-Regular', cursive;
	
}

h3 {
	color: white;
	font-size: 20px;
	font-weight:100;
	font-family: 'FertigoPro-Regular';
	
}

p {
	margin : 10px;
}

.container {
	margin-top: 0px;
	text-align:center;
	padding: 5px;
}

.container#reHeader {
	margin-top: 0px;
	text-align:center;
	padding: 5px;
}


.btn {
	font-size: 20px;
	margin-right: 10px;
	padding: 12px 55px;
}

.bot {
	color : white;
}

img.logo {
    max-width : 70%;
}

img.logosmall {
    max-width : 50%;
}