body {
    <!--background: #EDEAE2;-->
    background-repeat: repeat;
    background-image: url(../img/pattern.png);
}

div.clear 
{
	clear:both;
	height: 0px;
}

.page {
	top: 90px;
	position: relative;
}

.cover {
    top: 400px;
    float: right;
}

h1, h2, h3 {
	font-weight: 300;
}

ul.nav {
	font-size: 36px;
}

div.logo {
	float: left;
}

div.logo img {
	height: 48px;
}

ul.nav li {
	padding: 9px 10px 11px;
}

